html {
  background-color: rgb(236, 186, 220);
  }

h1 {
  margin: 20px;
  padding: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(22, 67, 163);
  border-radius: 10px;
  color: rgb(19, 33, 5);
  text-decoration: none;
  padding: 17px;
  display: block;
  text-align: center;
}

p1 {
  font-size: 50px;
  text-align: center;
  margin: 25px;
  padding: 50px;
  color: blueviolet;
}

p2 {
  font-size: 50px;
  text-align: right;
  margin: 25px;
  padding: 50px;
  color: rgb(64, 70, 165);
}
img {
  width: 500px;
  padding: 130px;
  display: block;
  margin: 0 auto;
}